.feedback {
    display: flex;
    list-style: none;
    gap: 20px;
}

.feedbackButtons {
    width: 80px;
    height: 35px;
    font-size: 20px;
    border-radius: 4px;;
    font-weight: 500;
    background-color: rgba(142, 144, 150, 0.5);
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedbackButtons:hover {
    background-color: rgba(78, 78, 82, 0.8);
}

